.embedded {
  .embedded__wrapper {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  }

  .embedded__iframe {
    position: absolute;
  }
}
