#hamburger {
  z-index: 300049;
  background-color: $white;
}

.inews__header-hamburger-header {
  .inews__header__logo {
    margin-left: -1rem;
  }
}

.amp-sidebar-mask {
  z-index: 300048;
}

.inews__header-hamburger-inner {
  width: 400px;
  padding: 0 1rem 2rem;

  .i__header__account_login {
    display: table-cell;
  }

  .inews__subnav {
    li {
      padding-left: 2rem;

      a {
        display: inline-block;
        width: 100%;
        padding: 0.5rem 0;
        color: $black;
        border-bottom: 1px solid $grey-6;

        &:hover {
          color: var(--inews-color-primary);
        }
        &.active {
          color: var(--inews-color-primary);
        }
      }
    }
  }

  .inews__header__search {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .inews__header__search__button {
      padding: 0.27rem 0.4rem;
      vertical-align: bottom;
      background-color: $grey-2;
      border-radius: 0.5rem 0 0 0.5rem;

      svg {
        fill: $white;
      }
    }

    .inews__header__search__input {
      flex-grow: 1;
      margin: 0;
      text-indent: 0.5rem;
      border: 2px solid $grey-2;
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }
}

.inews__header-hamburger-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.inews__header-hamburger-menu {
  --inews-color-primary: #{$grey-2};
  font-family: $serif-headline;
}

.inews__header-hamburger-section {
  &__header {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 5px;
    border-bottom: 4px solid var(--inews-color-primary);

    a {
      color: var(--inews-color-primary);
      font-weight: 700;

      &:hover {
        color: $red;
      }
    }

    span {
      flex-grow: 1;
      text-align: right;

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }

      .icon {
        display: inline-block;
        padding: 0 0.5rem;
        color: var(--inews-color-primary);
        font-size: 2.5rem;
        font-family: $sans;
        transform: rotate(90deg);
        transition: 0.3s all ease-in;
      }
    }
  }

  &__list {
    display: none;

    li {
      display: flex;
      align-items: center;
      height: 35px;
      margin-bottom: 5px;
      font-family: $serif-headline;
    }
  }

  &.open-section {
    .inews__header-hamburger-section__list {
      display: block;
      background-color: transparent;
    }

    .inews__header-hamburger-section__header .icon {
      transform: rotate(90deg) scaleX(-1);
    }
  }
}

.inews__header-hamburger-footer {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        display: inline-block;
        padding: 0.5rem 0;
        color: $black;
        font-family: $serif-headline;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

.inews__header-hamburger-footer__contact {
  font-size: 1.2rem;
}

.inews__header-hamburger-footer__icon {
  margin-right: 0.25rem;
  color: $red;
  font-size: 1.5rem;
}

.inews__header-hamburger-footer__newsletter {
  font-size: 1.2rem;

  svg {
    width: auto;
    height: 1.3rem;
    margin-right: 0.25rem;
    vertical-align: middle;
  }
}

.subscribed {
  #hamburger {
    .i__header__account_login {
      display: none;
    }
  }
}

.registered {
  #hamburger {
    .i__header__account_login {
      display: none;
    }

    .i__header__account_myaccount_icon {
      display: inherit;
    }
  }
}

@media (--mobile-and-below) {
  #hamburger {
    width: 100%;
    max-width: 100vw;
  }

  .inews__header-hamburger-inner {
    width: 100%;
    //same min-width as body
    min-width: 320px;

    .inews__hamburger-logo {
      position: static;
      margin: 0 auto;
    }
  }
}

@media (--tablet-and-up) {
  .inews__header-hamburger-inner {
    .inews__header__search {
      .inews__header__search__input {
        width: 94%;
      }
    }
  }
}

@media (--desktop-and-up) {
  .inews__header-hamburger-inner {
    .inews__hamburger-logo {
      display: none;
    }
  }
}
