.inews__post-hero {
  flex-direction: column;

  &__headline {
    padding: 0 1rem 1rem;
    @media (--tablet-and-up) {
      padding: 0 0.5rem 1rem;
    }
  }

  .inews__post__category {
    display: block;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid var(--inews-color-primary, #{$red});

    a {
      display: block;
    }
  }

  .inews__post__label {
    display: inline;
    vertical-align: super;
  }

  h2 {
    display: inline;
    color: $black;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  &__content {
    flex-grow: 1;
    background-color: var(--inews-color-secondary, #{$taupe});
  }

  &__media {
    position: relative;
  }

  .inews__post {
    &__video-icon {
      bottom: 18px;
      left: 18px;
      width: 30px;
      height: 30px;
    }
  }
}
